@font-face {
    font-family: "abnes";
    src: url(FONT/abnes.otf);
}
@font-face {
    font-family:"abnes1" ;
    src: url(FONT/abnes.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('img/im1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
main{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
}
h1{
    color: white;
    font: 200 25px abnes1 ;
    padding: 10px;
    text-shadow: 0 10px 10px rgb(71, 71, 255);
    margin-top: 20px;
    text-align: center;
}
h2{
    color: white;
    font: 700 30px abnes1 ;
    padding: 10px;
    text-shadow: 0 10px 10px rgb(71, 71, 255);
    margin-bottom: 20px;
}
form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: start;
    padding: 50px;
    background-color: rgba(36, 8, 43, 0.733);
    box-shadow: inset 0 2px 14px rgba(204, 115, 14, 0.692) , 0 0 20px rgb(63, 17, 82);
    border-radius: 30px;
}
form > label{
    font: 200 30px Arial ;
    color: whitesmoke;

}
form > input{
    width: 300px;
    height: 40px;
    text-align: center;
    background-color: rgb(212, 212, 212);
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 2px 8px ;
}